@font-face {
    font-family: 'custom';
    src: url('inter.ttf') format('truetype');
}
body{
    background-color: #141414;
}
.container{
    display:flex;
    background-color: #1f1f1f;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 12px;
    color:hsl(0, 0%, 100%);
    margin: 100px auto;
    max-width:375px;
    width: 90%;
    height:auto;
    padding: 28px;
    font-family:custom;
}
img{
    border-radius:100px;
    height:100px;
    width:100px;
    margin-bottom: 10px;
}
.links{
    font-weight:580;
    display: flex;
    justify-content: center;
    gap:5.5px;
    align-items: center;
    flex-direction: column;
}
#locality{
    color:#c7e561;
}
label{
    margin: 8px;
}
a{
    text-decoration: none;
    color: white;
}
#github,#fm,#linkedin,#twitter,#insta{
    display: flex;
    justify-content: center;
    align-items:center;
    height:47.5px;
    width:339px;
    border-radius: 8px;
    background-color: #333333;
}
#name{
    font-weight: 525;
    font-size:28px;
}
#locality{
    font-weight:600;
}
#github:hover,#fm:hover,#linkedin:hover,#twitter:hover,#insta:hover{
    background-color: #c4f82a;
    color:black;
}
#profession{
    margin:25px 0;
}
@media(min-width: 1024px){
    body{
        max-width:1440px;/*desktop Screens*/
    }
}
@media(max-width:1080px){
    body{
        max-width:375px;
    }
}